aiohttp==3.7.4.post0
pyproj==2.6.1.post1
ansi2html==1.8.0
ansiwrap==0.8.4
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
async-timeout==3.0.1
attrs==22.1.0
autopep8==1.7.0
Babel==2.10.3
backcall==0.2.0
backoff==1.11.1
beautifulsoup4==4.11.1
black==22.10.0
bleach==5.0.1
Brotli==1.0.9
bs4==0.0.1
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
colorlover==0.3.0
cssselect==1.1.0
cufflinks==0.17.3
cycler==0.11.0
dash==2.5.1
dash-bootstrap-components==1.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debuglater==1.4.3
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
descartes==1.1.0
discord.py==1.7.3
entrypoints==0.4
exceptiongroup==1.0.0
fake-useragent==0.1.11
fastjsonschema==2.16.1
filelock==3.7.1
Fiona==1.8.22
fire==0.4.0
Flask==2.1.2
Flask-Compress==1.12
fonttools==4.37.1
geopandas==0.10.2
greenlet==1.1.3
gunicorn==20.1.0
h11==0.14.0
huggingface-hub==0.8.1
hugo==0.5.2
humanize==4.3.0
icon-font-to-png==0.4.1
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipdb==0.13.9
ipykernel==6.15.1
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.10
jsonschema==4.15.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-dash==0.3.0rc1
jupyter-server==1.18.1
jupyterlab==3.4.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.15.1
jupytext==1.14.1
kaggle==1.5.12
kiwisolver==1.4.4
lxml==4.9.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.0
mdurl==0.1.2
mistune==2.0.4
monotonic==1.6
multidict==6.0.2
munch==2.5.0
mypy-extensions==0.4.3
nbclassic==0.4.3
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.21.6
outcome==1.2.0
packaging==21.3
palettable==3.3.0
pandas==1.3.5
pandocfilters==1.5.0
papermill==2.4.0
parse==1.19.0
parso==0.8.3
pathspec==0.10.1
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
ploomber==0.21
ploomber-core==0.0.6
ploomber-engine==0.0.10
ploomber-scaffold==0.3.1
plotly==5.9.0
posthog==2.1.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
psutil==5.9.1
pycodestyle==2.9.1
pycparser==2.21
pydantic==1.10.2
pyee==8.2.2
pyflakes==2.5.0
Pygments==2.12.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyproj==3.2.1
pyquery==1.4.3
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
python-slugify==6.1.2
pytz==2022.1
pywin32==304
pywinpty==2.0.7
PyYAML==6.0
pyzmq==23.2.0
regex==2022.6.2
requests==2.28.1
requests-html==0.10.0
retrying==1.3.3
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.0
selenium==4.5.0
Send2Trash==1.8.0
Shapely==1.8.5.post1
six==1.16.0
sklearn==0.0
sklearn-evaluation==0.7.2
sniffio==1.3.0
snscrape==0.3.4
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.41
sqlparse==0.4.2
stylecloud==0.5.2
tabulate==0.8.10
tenacity==8.0.1
termcolor==1.1.0
terminado==0.15.0
text-unidecode==1.3
textwrap3==0.9.2
threadpoolctl==3.1.0
tinycss==0.4
tinycss2==1.1.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
torch==1.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
transformers==4.20.1
trio==0.22.0
trio-websocket==0.9.2
typed-ast==1.5.4
typing_extensions==4.3.0
unicodecsv==0.14.1
urllib3==1.26.10
w3lib==2.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
websockets==10.3
Werkzeug==2.1.2
widgetsnbextension==4.0.3
wordcloud==1.8.2.2
wsproto==1.2.0
yarl==1.8.1
yolk==0.4.3
zipp==3.8.0
