<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Points Per Game</title>
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1 style="color:Violet;">Points Per Game Predictions</h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="FGA" placeholder="FG's Attempted Per Game" required="required" /><br>
      <!--<input type="text" name="percent smoking" placeholder="Minutes Played" required="required" /><p>-->

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Points Per Game</button></p>
    </form>

   <br>
   <br>
   <h4 style="color:Violet;">
   {{ prediction_text }} </h4>

 </div>


</body>
</html>