<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>NBA Player Performance</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><!--Logo--></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><!--Navbar Link--></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#"><!--Navbar Link--></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"><!--menu--></i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">NBA Performance Evaluator</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict what an NBA players PPG should be based off of how many shots they are shooting per game
        <br>
        </h5>
      </div>

              <div class="row">
    <form action="{{ url_for('predict')}}"method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b>Field Goal Attempts</b></label>
            <br>
          <input type="text" name="FGA" placeholder="FG's Attempted Per Game" required="required">
        </div>
        <div class="input-field col s4">

          <!--<label for="last_name"><b>Oxygen </b></label>
            <br>
          <input id="last_name" name="Oxygen" placeholder="Oxygen content in ppm"  type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name"><b>Humidity</b></label>
            <br>
          <input id="_name" name="Humidity" placeholder="Humidity %" type="text" class="validate">

        </div>-->

      </div>

      <div class="row center">

          <button type="submit" class="btn btn-primary btn-block btn-large">Predict Points Per Game</button>
      </div>
    </form>
      </div>

      <h4 style="color:#FFA500;">
        {{ prediction_text }} </h4>

    </div>
  </div>


    <br><br>
  </div>
  </div>>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Me</h5>
          <p class="grey-text text-lighten-4">Hi I am Marcus, a Data Nerd/Data Scientist looking to expand my skillset through projects like these. </p>


        </div>
        <!--<div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">-->
          <h5 class="white-text">Connect With Me</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/marcus-dunbar-459b40211/">LinkedIn</a></li>
            <li><a class="white-text" href="https://github.com/marcusdjr">GitHub</a></li>
            <!--<li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://www.linkedin.com/in/marcus-dunbar-459b40211/">Marcus</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>